# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



<div className="max-w-[350px] min-h-[478px] md:max-w-[316px] relative shadow-custom-all ">
          <div className="absolute h-8 w-[89px] bg-[rgba(0,0,0,0.3)] text-white flex gap-2 items-center justify-center rounded-full top-[10px] left-[10px]">
            <img src={EyeIcon} alt="" className="text-white" />
            <p>1359</p>
          </div>
          <div>
            <img src={turtle} alt="" className="w-full" />
          </div>
          <div className="mt-8 flex flex-col gap-6 p-4">
            <p>Spilla in argento e oro a forma di rana stilizzata.</p>
            <div className="text-sm">
              <p>Asta</p>
              <p className="font-bold">Arte Moderna e Contemporanea</p>
              <p className="font-bold">Milano, 21-22 Dicembre 2021</p>
            </div>
          </div>
